body {
	margin: 0;
	font-family: sans-serif;
}
#page-heading {
	color: grey;
	font-size: 40px;
}

#contact-details {
	background-color: bisque;
	color: black;
	padding: 5px;
	font-family: 'sans-serif';
	font-size: large;
	width: 400px;
	margin: 10px;
	justify-content: space-between;
	display: inline-flex;
}
#delete-btn {
	padding-top: 10px;
}
